ul{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:20px;
  padding:0;
}

li{
  list-style-type: none;
}

li > .nav__link{
  text-transform: uppercase;
  font-size: var(--font-xs);
  letter-spacing:2px;
  color:var(--font-color-lighter);
  font-weight: var(--font-weight-m);
}