:root{
  --font-main: 'Karla', sans-serif;
  --font-sub: 'Markazi Text', serif;

  --font-xxxl:clamp(2.8rem, 7vw, 6rem); /* Base: 45px, Max: 61px */
  --font-xxl:clamp(2.5rem, 5vw, 3.815rem); /* Base: 40px, Max: 61px */
  --font-xl:clamp(2rem, 4.5vw, 3.052rem); /* Base: 32px, Max: 48.8px */
  --font-l:clamp(1.8rem, 3.8vw, 2.141rem); /* Base: 24px, Max: 39px */
  --font-m:clamp(1.1rem, 3vw, 1.953rem); /* Base: 20px, Max: 31.25px */
  --font-s:clamp(1rem, 2vw, 1.3rem); /* Base: 16px, Max: 25px */
  --font-xs:clamp(0.9rem, 1.5vw, 1.1rem); /* Base: 14px, Max: 16px */

  --font-color-main:#5E5E5E;
  --font-color-dark:#131010;
  --font-color-light:#7a7a7a;
  --font-color-lighter:#cecece;
  --font-color-white:#ececec;

  --font-weight-l:800;
  --font-weight-m:600;
  --font-weight-s:400;

  --color-primary:#cc5636;
  --color-secondary:#FFF0DC;
  --color-accent:#302a2a;

  --border-radius: 4px;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

*{
  text-decoration: none;
  transition:0.2s ease all;
  box-sizing: border-box;
  font-family: var(--font-main);
  color:var(--font-color-dark);
}


h1,h2,h3,h4,h5,h6,p{
  margin:0;
}

h1{
  font-size:var(--font-xxl);
}

h2{
  font-size: var(--font-xl);
}

h3{
  font-size: var(--font-l);
}

h4{
  font-size: var(--font-m);
}

h5{
  font-size: var(--font-s);
}

p{
  font-size: var(--font-xs);
}

section{
  margin:40px 10px
}

.container{
  max-width: 1200px;
}

.title{
  font-family: var(--font-main);
}

.subtitle{
  text-transform: uppercase;
  font-weight: var(--font-weight-s);
  font-size: var(--font-xs);
  letter-spacing: 2px;
}

.cta{
  background: var(--color-primary);
  border:none;
  border-radius: var(--border-radius);
  color: var(--font-color-white);
  font-size: var(--font-s);
  padding: 8px 16px;
  margin:1rem 0;
}

@media(min-width:767px){
  section{
    margin:40px;
  }

  .cta{
    margin:1rem 0;
  }
}